/* *{}margin is used to remove default margins*/
/* margin is outer side */
/*  padding is inner space in a shape */


*{

    margin: 0%;
}

.box{

    border: 1px solid black;
    width: 200px;
    height: 200px;
    background-color: aqua;
    color: black;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: auto;
    padding-left: 10px;
    padding-top: 10px;

}